<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Clientes</ion-title>
  </ion-toolbar>

  <ion-toolbar color="mycolor">
    <ion-searchbar placeholder="Buscar" animated (ionChange)="buscarClientes($event)">

    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="permiso">
    <ion-item *ngFor="let item of searchUser">
      <ion-avatar slot="start">
        <img src="../../assets/customers-imgs/{{item.imagen}}" />
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="colorBlue">{{item.nombre}}</h2>
        <p>{{item.descripcion}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-label *ngIf="!permiso">No tienes permisos para ver los clientes</ion-label>
</ion-content>
